.container {
  max-width: 95%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.products-container {
  max-width: 80%;
  padding-right: 20px;
  padding-left: 20px;
}