@media screen and (min-width: 700px) {
  .details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--card-border-radius);
}

.image-container img {
  max-width: 100%;
}

@media screen and (min-width: 500px) {
  .image-container {
    min-width: 400px;
  }
}

@media screen and (min-width: 800px) {
  .image-container img {
    max-width: unset;
  }
}

.product-details {
  display: flex;
  justify-content: center;
  min-height: 400px;
  padding: 20px;
  border-radius: var(--card-border-radius);
  border: var(--thick-border);
  /* box-shadow: var(--second-color-inset-shadow); */
}

@media screen and (min-width: 700px) {
  .product-details {
    width: 100%;
  }

  .image-container {
    width: 100%;
  }
}

.category {
  color: var(--second-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.productName {
  color: var(--second-color);
  font-size: 2rem;
  font-weight: 700;
}

.description {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.5;
}

.price {
  color: var(--second-color);
  font-size: 1.2rem;
  font-weight: 600;
}
