.productImage {
    width: 700px;
    border-radius: var(--card-border-radius);
  }
  
  .productDetails {
    padding: 30px;
    background-color: var(--third-color);
    border-radius: var(--card-border-radius);
  }
  
  .category {
    color: var(--second-color);
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .productName {
    color: var(--second-color);
    font-size: 2rem;
    font-weight: 700;
  }
  
  .description {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .price {
    color: var(--second-color);
    font-size: 1.2rem;
    font-weight: 600;
  }