.product-swiper .product-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  color: var(--main-bg-color);
}

.text-container {
    width: 400px;
    padding: 30px;
    position: absolute;
    right: 70px;
    background-color: var(--main-font-color-transparent);
    font-size: 12px;
    line-height: 1.5;
    border-radius: var(--card-border-radius);
}
