.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.cart-section {
  padding-top: 5rem;
}

.hero-section {
  padding-top: 0;
  padding-bottom: 0;
}

.products-section {
  position: relative;
}