.product-item {
  width: 250px;
  box-shadow: var(--card-smaller-box-shadow);
  border-radius: var(--card-border-radius);
  transition: box-shadow 250ms linear, transform 250ms linear;
}

.product-item:hover,
.product-item:focus {
  border: 1px solid var(--primary-border-color);
  box-shadow: var(--card-box-shadow);
  cursor: pointer;
}

.image-container {
  width: 100%;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.item-image {
  object-fit: contain;
}

.card-group-box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.item-link {
  color: inherit;
}

.product-item .icon {
  width: 30px;
  height: 30px;
  color: var(--first-color);
}

.icon.favorite {
  color: red;
}

.product-item .heart-icon {
  color: var(--second-color);
}

.product-item .favorite {
  color: var(--accent-color);
}