
.nav-list {
  display: none;
}

@media screen and (min-width: 700px) {
  .nav-list {
    display: flex;
    gap: 3rem;
  }
}

.nav-item {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .menu-container {
    display: none;
  }
}

.icon {
  color: var(--main-font-color);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.user-menu {
  display: flex;
  gap: 1rem;
}
