.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-list {
  display: none;
}

@media screen and (min-width: 600px) {
  .nav-list {
    display: flex;
    gap: 3rem;
  }
}

.nav-item {
  font-size: 19px;
  cursor: pointer;
  transition: transform 250ms linear;
}

.nav-item:hover,
.nav-item:focus {
  transform: scale(1.05);
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 600px) {
  .menu-container {
    display: none;
  }
}

.icon {
  color: var(--main-font-color);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.user-menu {
  display: flex;
  gap: 1rem;
}
