.button {
  width: 30px;
  height: 30px;
}

.control-icon {
  color: var(--first-color);
  width: 12px;
  height: 12px;
}

.quantity-text {
  margin-left: unset;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
