.control-icon {
  width: 15px;
  height: 15px;
}

.quantity-control-btn {
  background-color: var(--second-color);
  box-shadow: var(--third-color-box-shadow);
}

.quantity-text {
  font-weight: 500;
}
