@media screen and (min-width: 700px) {
  .menu-container {
    display: none;
  }
}

.mobile-nav-link {
  padding: 0.5rem;
  border-radius: var(--button-border-radius);
  text-decoration: none;
  display: block;
  text-decoration: none;
  color: inherit;
}

.mobile-active-link {
  color: var(--first-color);
  background-color: var(--second-color);
}

