.nav-btn-container {
  position: absolute;
  width: 100%;
  right: 0;
  top: 30%;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 5px;
  cursor: pointer;
  background-color: var(--second-color);
  border: 1px solid var(--main-bg-color);
  border: none;
}

@media screen and (min-width: 550px) {
  .button {
    padding: 15px;
  }
}

.disabled {
  cursor: not-allowed;
}

.icon {
  width: 10px;
  height: 10px;
  color: var(--main-bg-color);
}

@media screen and (min-width: 550px) {
  .icon {
    width: 20px;
    height: 20px;
  }
}
