:root {
  --main-bg-color: #f0f0f0; /* Very Light Grey */
  --secondary-bg-color: #e1e2e6; /* Light Grey 1 */
  --main-font-color: #4a4a4a; /* Darker Grey */
  --main-font-color-transparent: rgba(74, 74, 74, 0.5); /* Darker Grey with transparency */
  --secondary-font-color: #787775; /* Dark Grey */
  --accent-color: #c4b3a9; /* Warm Beige */
  --accent-color-2: red;
  --highlight-color: #b0a296; /* Slightly darker beige for accents */
  --contrast-color: #1a2a3a; /* Dark Blue */

  --card-box-shadow: -5px 5px 18px 0 rgba(64, 50, 52, 0.5);
  --card-smaller-box-shadow: -5px 5px 5px 0 rgba(64, 50, 52, 0.5);

  --card-border-radius: 5px;
  --input-border-radius: 30px;
  --card-image-border-radius: 15px;
}

/* color palettes to explore https://paperheartdesign.com/blog/color-palette-peaceful-palettes#:~:text=Blue%20is%20calm%20and%20soothing,main%20source%20of%20inspiration%20here */

body {  
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  letter-spacing: 0.05em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}