:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --main-bg-color: #f0f0f0; /* Very Light Grey */
  --secondary-bg-color: #e1e2e6; /* Light Grey 1 */
  --main-font-color: #4a4a4a; /* Darker Grey */
  --secondary-font-color: #787775; /* Dark Grey */
  --accent-color: #c4b3a9; /* Warm Beige */
  --highlight-color: #b0a296; /* Slightly darker beige for accents */
}

/* color palettes to explore https://paperheartdesign.com/blog/color-palette-peaceful-palettes#:~:text=Blue%20is%20calm%20and%20soothing,main%20source%20of%20inspiration%20here */


body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
