.cart-item {
  padding: 20px 10px 20px 10px;
  box-shadow: var(--second-color-shadow);
  border-radius: var(--card-border-radius);
}

.image {
  border-radius: var(--card-border-radius);
}

.name, .price {
  font-size: 14px;
}