.cart-item {
  padding: 12px 8px 12px 8px;
  box-shadow: var(--second-color-shadow);
  border-radius: var(--card-border-radius);
}

.image {
  border-radius: var(--card-border-radius);
}

.name, .price {
  font-size: 14px;
}

.delete-icon {
  width: 20px;
  height: 20px;
}