.icon {
  position: relative;
  color: var(--main-font-color);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.active {
  color: var(--accent-color);
}

.active .icon {
  color: var(--accent-color);
}

.badge {
  position: absolute;
  color: var(--main-font-color);
  font-size: 16px;
}
